@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
button {
  background: transparent;
  border: 0;
  font-family: "Zen Dots", cursive;
  font-size: 0.6rem;
}
select {
  background: transparent;
  border: 0;
  font-family: "Zen Dots", cursive;
  font-size: 0.6rem;
}
