/* @import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap"); */
button {
  background: transparent;
  border: 0;
  /* font-family: "Monoton", cursive; */
  font-size: 0.6rem;
}
select {
  background: transparent;
  border: 0;
  /* font-family: "Monoton", cursive; */
  font-size: 0.6rem;
}
