.container {
  display: flex;
  flex-direction: column;
}
.cards {
  position: relative;
  top: 60px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}
.cards > * {
  flex: 2 2 2 2 2;
  margin-left: auto;
  margin-right: auto;
}

.pagination {
  position: relative;
  top: 70px;
  padding-bottom: 20px;
}
