.container {
  display: flex;
  flex-direction: column;
}
.cards {
  position: relative;
  top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 0.2fr);
  grid-gap: 10px;
  justify-content: center;
}

.pagination {
  position: relative;
  top: 70px;
  padding-bottom: 20px;
}
