.container {
  -webkit-perspective: 700px;
  perspective: 700px;
  width: 100vw;
  text-align: center;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 100px;
}
.container > .load {
  font-size: 130px;
  display: inline-block;
  animation: flip 2.6s infinite linear;
  transform-origin: 0 70%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

@keyframes flip {
  35% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotatex(360deg);
  }
}

.container > .load:nth-child(even) {
  color: rgb(208, 27, 27);
}

.container > .load:nth-child(2) {
  animation-delay: 0.3s;
}

.container > .load:nth-child(3) {
  animation-delay: 0.6s;
}

.container > .load:nth-child(4) {
  animation-delay: 0.9s;
}

.container > .load:nth-child(5) {
  animation-delay: 1.2s;
}

.container > .load:nth-child(6) {
  animation-delay: 1.5s;
}

.container > .load:nth-child(7) {
  animation-delay: 1.8s;
}
